header {
  font-family: "Montserrat";
  background-color: #000000;
  color: #FFFFFF;
  padding: 10px 20px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .marca {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .marca h1 {
  font-size: 36px;
  color: #FFFFFF;
}
header .marca img {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 20%;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
header nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500 px;
}
header nav ul li a:hover {
  text-decoration: underline;
}

footer {
  font-family: "Montserrat";
  background-color: #FFFFFF;
  color: #000000;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer .footer-top {
  border-top: 1px solid #C2C5AA;
  display: flex;
  justify-content: center;
  gap: 60px;
}
footer .footer-top > div {
  text-align: center;
  flex: 1;
}
footer .footer-top > div h4 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}
footer .footer-top > div p,
footer .footer-top > div li,
footer .footer-top > div a {
  color: #000000;
  font-size: 16px;
}
footer .footer-top > div ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .footer-top > div ul li {
  margin-bottom: 6px;
}
footer .footer-top > div ul li a {
  text-decoration: none;
}
footer .footer-top > div ul li a:hover {
  text-decoration: underline;
}
footer .footer-bot {
  text-align: center;
  font-size: 16px;
}

.carrito main {
  max-width: 70%;
  min-width: 30%;
  margin: 40px auto;
  padding: 20px;
  background-color: #E0E1DD;
  border: 1px solid #C2C5AA;
  border-radius: 8px;
  font-family: "Montserrat";
}
.carrito main h2 {
  font-size: 36px;
  color: #000000;
  text-decoration: underline;
  margin-left: 20px;
  margin-bottom: 10px;
}
.carrito main div > a {
  color: #414833;
  text-decoration: none;
  font-size: 24px;
}
.carrito main div > a:hover {
  text-decoration: underline;
}
.carrito main section {
  display: flex;
  flex-direction: column;
}
.carrito main article {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}
.carrito main article div:first-child img {
  width: 50%;
  height: 50%;
  border-radius: 5px;
  border: 1px solid #000000;
}
.carrito main article div:nth-child(2) {
  width: 100%;
}
.carrito main article div:nth-child(2) .nombre-producto {
  font-size: 24px;
  color: #000000;
}
.carrito main article div:nth-child(2) p {
  font-size: 30px;
  font-weight: bold;
  color: #414833;
}
.carrito main article div:nth-child(2) form {
  display: flex;
  gap: 20px;
  font-size: 24px;
}
.carrito main article div:nth-child(2) form input {
  border: 1px solid #C2C5AA;
  border-radius: 8px;
  padding: 5px;
}
.carrito main article div:nth-child(2) form button {
  background-color: #414833;
  color: #FFFFFF;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}
.carrito main article div:nth-child(2) form button:hover {
  background-color: #000000;
}
.carrito main .pago {
  width: 20%;
  background-color: #414833;
  color: #FFFFFF;
  border: none;
  margin-left: auto;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}
.carrito main .pago:hover {
  background-color: #000000;
}

.index main {
  background-color: #E0E1DD;
  font-family: "Montserrat";
}
.index main #imgPrincipal {
  display: block;
  width: 100%;
  height: auto;
}
.index main .caja-texto {
  font-size: 36px;
  padding: 2rem;
  text-align: center;
}
.index main #carrusel div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.index main #carrusel img {
  max-width: 100%;
  height: auto;
}/*# sourceMappingURL=main.css.map */