@import "./base/colores";
@import "./base/tipografia";

body {
    background-color: $color-fondo;
    font-family: $tipografia;
}


#imgPrincipal {
    display: block;
    margin: auto;
    width: 100%;
}

header {
    display: flex;
    background-color: $color-principal;
    align-items: center;

    h1, a {
        color: $color-auxiliar;
    }

    a:hover {
        color: blue;
    }

    h1 {
        margin-left: 25px;
    }

    nav {
        margin-left: auto;
        margin-right: 50px;
    }

    img {
        height: auto;
    }
}

.caja-texto {
    font-size: $H1;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
}

#carrusel {
    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}