header {
  font-family: $tipografia;
  background-color: $color-principal;
  color: $color-auxiliar;
  padding: 10px 20px;

  display: flex;
  justify-content: space-between; // nav a la izquierda, marca a la derecha
  align-items: center;

  .marca {
    display: flex;
    align-items: center;
    gap: 10px;

    h1 {
      font-size: 1.8rem;
      margin: 0;
      color: #fff;
    }

    img {
      display: block;
    }
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;

    li a {
      color: #fff;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
