
// Estilo para el botón de "Eliminar"
.btn-eliminar {
    background-color: $color-boton;
    color: $color-auxiliar;
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-family: $tipografia;

    &:hover {
        background-color: $color-principal;
    }

}

// Estilo para el botón de Pagar
.btnPago {
    max-width: 70%; 
    margin: 20px auto; 
    display: flex;
    justify-content: end; 

    button {
        width: 100px;
        background-color: $color-boton;
        color: $color-auxiliar;
        border: none;
        padding: 10px 12px;
        border-radius: 8px;
        cursor: pointer;
        font-family: $tipografia;

        &:hover {
            background-color: $color-principal;
        }

        @media (max-width: 768px) {
            width: 100%; 
        }
    }
}