.card-producto {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: transparent; 

    @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;     
    }

    // Contenedor de imagen
    .card-image {
        img {
            width: 50%;
            height: auto; // Mejor auto para no deformar
            border-radius: 5px;
            border: 1px solid $color-principal;

            @media (max-width: 768px) {
                width: 80%; // Un poco más grande en móvil
                margin-bottom: 15px;
            }
        }
    }

    // Contenedor de Info del producto
    .card-info {
        width: 100%;

        .nombre-producto {
            font-size: $H3;
            color: $color-principal;
            margin-bottom: 10px;
        }

        // El precio
        p { 
            font-size: $H2;
            font-weight: bold;
            color: $color-boton;
        }
    }
}